/* Grundgerüst */
*{
    font-family: 'Oswald', sans-serif; 
    font-family: 'Titillium Web', sans-serif; 
    font-size: 15px; color: #fff
}
a.underline:link {color:#fff;text-decoration:none;}
a.underline:visited {color:#99cc00;text-decoration:none;}
a.underline:hover {text-decoration:underline;}

body {
    width: 100%; 
    position: absolute;}

/* Header Erstellung */
.Header {
    background-color: #262626; 
    height: 70px
}

.Logo {
    color: #fff; 
    font-size: 25px; 
    font-weight: 900; 
    width:36%; 
    height:70px; 
    float: left; 
    margin-top: 20px; 
    padding-left: 15px;
}

.HeaderNavigation {
    color: #fff; 
    font-weight: 750; 
    width:10%; 
    height:70px;
    float: left; 
    margin-top: 26px;
}

#Kontakt {
    width: 30%;
}

#HeaderSucheSpracheAnmeldung {
    width: 4,33%;
    font-size: 25px;
}

.HeaderSucheSpracheAnmeldung {
    color: #fff; 
    width:4,33%; 
    height:70px;
    float: left; 
    margin-top: 26px;
    font-size: 25px;
}


/* Suchfilter */
.Filter {
    background-color: #fff; 
    color: black; 
    width:900px; 
    height: 300px; 
    float:left; 
    margin: 5% 17% 3% 17%;
    position: relative;
}


/* Hintergrundbild Suchfilter */
.Startbild {
    background-image: url(../Bilder/AdobeStock_294688686.jpeg);  
    background-size: 100%; 
    height: 500px; 
    text-align: center; 
    position: relative;
}

p1 {
    font-size: 20px; 
    color: black; 
    font-weight: 700;
}

/* Überschriften der Seitenabschnitte */
.ContentTopics {
    background-color: #262626; 
    color: #99cc00; 
    font-size: 25px; 
    font-weight: 850; 
    text-align: center;  
    height: 50px;
    padding-top: 30px;
}

#UnsereStandorte {
    background-color: #e6e6e6; 
}

/* Content der Seitenabschnitte */
.USPFlotteContent{
    background-color: #262626; 
    font-size: 20px; 
    font-weight: 850; 
    color:black; 
    height: 200px;
}

#Flotte {
    height: 600px; 
    background-color: #fff; 
}


.Karte {
    background-color: #e6e6e6; 
    height:400px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}



/* Footer Erstellung */
.Footer {
    background-color:#262626; 
    height:50px;
    
}

.ContentFooter {
    color: #fff; 
    width:4,33%; 
    height:70px;
    float: left; 
    margin: 15px 20px 15px 500px; 
}

#ContentFooterMiddle {
    margin: 15px 20px 15px 20px;
}


.Space {
    font-size: 20px; 
    width: 5px ; 
    height:70px;
    float: left; 
    margin: 12px
}

