@import url(https://fonts.googleapis.com/css?family=Oswald);


/* essentials */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oswald', sans-serif; 
    font-family: 'Titillium Web', sans-serif; 
    font-size: 15px; color: #fff;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:  #000;
}


p{
    color: #000;
    text-decoration: none;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 10px 0; 
}

h1,h2 {
    font-weight: 800;
    line-height: 1.2;
    margin-top: 10px 0;
}

h4 {
    line-height: 1.2;
    margin-top: 10px 0;
    margin-bottom: 20px;
    color:#fff
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px; /* new height */
}


img {
    width: 100%;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0, 40px;
            
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/* Navigationsleiste */

.navigation {
    background-color: #262626;
    color: white;
    height: 70px;
    position: relative;
    
}

.navigation .flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20%;
    overflow: visible;
}

#logo:hover{
    border-bottom: 0;
    
}

.navigation ul {
        display: flex;
}

.navigation a {
    color: white;
    padding: 10px;
    margin: 0 5px;
    font-weight: 600;
}

.navigation a:hover {
    border-bottom: 2px solid white;
    
}::after{
    border: 0;
}


.sidenavigation a {
    font-size: smaller;
    font-weight: 100;
}

.sidenavigation a:hover{
    border-bottom: 0;
}



/* AGB */

.Inhalt {

    width:100%; height:1100px;
     background-color: #383737; 
     margin: auto;

}

.Topic {
    color: #99cc00; font-size: 25px; 
    font-weight: 850;
    padding-top: 40px;
    text-align: center;
}

.AGB {
    width: 85%;
    height: 900px;
    background-color: #fff;
    float: left;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    padding-top: 25px;
    padding-left: 30px;
    color:black;
    margin: 50px 40px 0px 100px;
}


/* ÜberFooter */

.überfooter {
    width: 100%;
    height: 220px;
    background-color: rgb(76, 74, 74);
}

.überfootercontent {
    width: 30%;
    height: 150px;
    float: left;
    color: #000;
    margin: 24px;
    padding: 5px 10px 20px 100px;
}

.socialmedia {
    width: 20px;
    height: 20px;
    float: left;
    margin: 24px;
}



/* FOOTER */

.footer {
    width: 100%;
    height: 70px;
    background-color: #262626 ;
    
}

.gridfooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 350px;  
}


.footercontent a {
    
    float: left;
    color: #fff;
    margin-right: 13px;  
}
