/* Starting Image */

.login_bereich {

        background-color: darkgrey;
        height: 600px;
        position: relative;
}

.login_überschrift h2 {
    color: #99cc00;
    font-size: 25px;
    font-weight: 850;
}

.background_image {
  height: 500px;
  background-size: 100%;
  background-image: url(../Bilder/Login.jpeg);
  width: 1400px;
  margin:50px;
  position: absolute;
  z-index: 1;
}

.login_feld {
  height: 300px;
  width: 750px;
  background-color: white;
  box-shadow: 0 3px 10px rgba( 0, 0, 0, 0.2);
  padding: 20px;
  position: absolute;
  z-index: 2;
  top:100px;
  left:370px;
}
