.background {
    background-color: #e6e6e6;
}



.Überschrift {
    
    color: black; 
    font-size:20px; 
    font-weight:600;
    text-align: center; 
    padding-top: 20px;
    
}



.Städte {
    color: white; 
    font-size: 55px; 
    font-weight: 900; 
    text-shadow: 2px 2px black; 
    text-align: center;

    margin: 70px 0px;
    padding-top: 60px;
    height: 300px; 
    border:1px solid black;
    
}


    .Hamburg {
        background-image: url(../Bilder/Hamburg.jpeg); 
        background-size: 100%; 
       
       
    }

    .Berlin { 
        background-image: url(../Bilder/Berlin.jpeg); 
        background-size: 100%; 
        
      
         
       
    }
        
    .München {
        background-image: url(../Bilder/München.jpeg);
        background-size: 100%; 
        
        
    }

    .Köln {
        background-image: url(../Bilder/Köln.jpeg); 
        background-size: 100%; 
       
        
    }

    .Dortmund { 
        background-image: url(../Bilder/Dortmund.jpeg);  
        background-size: 100%; 
       
        
    }

    .Leipzig {background-image: url(../Bilder/Leipzig.jpeg);
        background-size: 100%; 
        
        
    }

    .Bremen {background-image: url(../Bilder/Bremen.jpeg); 
        background-size: 100%; 
        
        
    }   

    .Bielefeld {
        background-image: url(../Bilder/Bielefeld.jpeg); 
        background-size: 100%; 
        
        
    }

    .Freiburg {
        background-image: url(../Bilder/Freiburg.jpeg); 
        background-size: 100%; 
        
        
    }

    .Paderborn {
        background-image: url(../Bilder/Paderborn.jpeg); 
        background-size: 100%; 
        
        
    }
    
    .Rostock {
        background-image: url(../Bilder/Rostock.jpeg); 
        background-size: 100%; 
               
        
    }

    .Dresden {
        background-image: url(../Bilder/Dresden.jpeg); 
        background-size: 100%; 
        
        
    }

    .Nürnberg {
        background-image: url(../Bilder/Nürnberg.jpeg); 
        background-size: 100%; 
        
        
    }

    .Bochum {
        background-image: url(../Bilder/Bochum.jpeg); 
        background-size: 100%; 
        
        
    }
                    
                

