

.Überschrift {width: 100%; height:400px; color: black; font-size:20px; font-weight:600;text-align: center;}



.Städte { margin-top: 60px; margin-left: 50px; margin-right: 50px;height:200px; 
    color: white; font-size: 55px; font-weight: 900; text-shadow: 2px 2px black; text-align: center; padding-top: 60px;}


    .Hamburg {background-image: url(../Bilder/Hamburg.jpeg); background-size: 100%; height: 300px; text-align: center; margin: 70px 70px;
        border:1px solid black;}

    .Berlin { background-image: url(../Bilder/Berlin.jpeg); background-size: 100%; height: 300px; text-align: center; margin: 70px 70px;
        border:1px solid black;}
        
    .München {background-image: url(../Bilder/München.jpeg);background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
        border:1px solid black;}

    .Köln {background-image: url(../Bilder/Köln.jpeg); background-size: 100%; height: 300px; text-align: center; margin: 70px 70px;
        border:1px solid black;}

    .Dortmund { background-image: url(../Bilder/Dortmund.jpeg);  background-size: 100%; height: 300px; text-align: center; margin: 70px 70px;
        border:1px solid black;}

    .Leipzig {background-image: url(../Bilder/Leipzig.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
        border:1px solid black;}

    .Bremen {background-image: url(../Bilder/Bremen.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
        border:1px solid black;}   

    .Bielefeld {background-image: url(../Bilder/Bielefeld.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
            border:1px solid black;}

    .Freiburg {background-image: url(../Bilder/Freiburg.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
                border:1px solid black;}

    .Paderborn {background-image: url(../Bilder/Paderborn.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
                    border:1px solid black;}
    
    .Rostock {background-image: url(../Bilder/Rostock.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
                        border:1px solid black;}

    .Dresden {background-image: url(../Bilder/Dresden.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
                            border:1px solid black;}

    .Nürnberg {background-image: url(../Bilder/Nürnberg.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
                                border:1px solid black;}

    .Bochum {background-image: url(../Bilder/Bochum.jpeg); background-size: 100%; height: 300px;  text-align: center; margin: 70px 70px;
                                    border:1px solid black;}
                    
                

