.background {
    background-color: #383737;
    
}






.content-Standorte {
    max-width: 1200px;
    height: fit-content;
    margin: 30px auto;
    overflow: auto;
    padding: 0, 40px;
    position: relative;
    top:70px;
    margin-bottom: 100px;
   
}

button {
    cursor: pointer;
}

h2 {
    
    padding-top: 0px;
    padding-bottom: 20px ;
    padding-left:20px;

    color: #99cc00;
    font-size: 25px; 
    font-weight: 850; 
    text-align: center;
    position: relative;
}

.Stadt {
    
    width: 100%; 
    height: 300px; 
    border:1px solid black;
    transition: 0.5s;
    margin: 20px 0px;
    
}

.Stadt h3 {
    color: white; 
    font-size: 55px; 
    font-weight: 900; 
    text-shadow: 2px 2px black; 
    text-align: center;
    padding-top: 90px;
    
    
}


.Stadt:hover {
    scale: 1.1  ;
}



    .Hamburg {
        background-image: url(../Bilder/Hamburg.jpeg); 
        background-size: 100%; 
        height: 300px;
       
       
    }

    .Berlin { 
        background-image: url(../Bilder/Berlin.jpeg); 
        background-size: 100%; 
        height: 300px;
        
      
         
       
    }
        
    .München {
        background-image: url(../Bilder/Muenchen.jpeg);
        background-size: 100%; 
        height: 300px;
        
    }

    .Köln {
        background-image: url(../Bilder/Koeln.jpeg); 
        background-size: 100%; 
        height: 300px;
        
    }

    .Dortmund { 
        background-image: url(../Bilder/Dortmund.jpeg);  
        background-size: 100%; 
        height: 300px;
        
    }

    .Leipzig {
        background-image: url(../Bilder/Leipzig.jpeg);
        background-size: 100%; 
        height: 300px;
        
    }

    .Bremen {
        background-image: url(../Bilder/Bremen.jpeg); 
        background-size: 100%; 
        height: 300px;
        
    }   

    .Bielefeld {
        background-image: url(../Bilder/Bielefeld.jpeg); 
        background-size: 100%; 
        height: 300px;
        
    }

    .Freiburg {
        background-image: url(../Bilder/Freiburg.jpeg); 
        background-size: 100%; 
        height: 300px;
        
    }

    .Paderborn {
        background-image: url(../Bilder/Paderborn.jpeg); 
        background-size: 100%; 
        height: 300px;
        
    }
    
    .Rostock {
        background-image: url(../Bilder/Rostock.jpeg); 
        background-size: 100%; 
        height: 300px;       
        
    }

    .Dresden {
        background-image: url(../Bilder/Dresden.jpeg); 
        background-size: 100%; 
        height: 300px;
        
    }

    .Nürnberg {
        background-image: url(../Bilder/Nuernberg.jpeg); 
        background-size: 100%; 
        height: 300px;
        
    }

    .Bochum {
        background-image: url(../Bilder/Bochum.jpeg); 
        background-size: 100%; 
        height: 300px;
        
    }
                    
        
